<section class="mt-14 px-4 md:px-0" id="projects">
  <h2
    class="text-2xl md:text-3xl text-center mb-6 md:mb-6 font-bold fade-in opacity-0"
  >
    Projects
  </h2>
  <ul class="mx-auto max-w-7xl flex flex-col gap-4 md:gap-6 lg:gap-8">
    <li class="grid md:grid-cols-2 gap-4 fade-in opacity-0">
      <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit dolore,
        maiores culpa modi alias doloribus.
      </p>
      <img src="/placeholder.jpg" alt="alt" />
    </li>

    <li class="grid md:grid-cols-2 gap-4 fade-in opacity-0">
      <img src="/placeholder.jpg" alt="alt" />
      <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit dolore,
        maiores culpa modi alias doloribus.
      </p>
    </li>

    <li class="grid md:grid-cols-2 gap-4 fade-in opacity-0">
      <p class="">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit dolore,
        maiores culpa modi alias doloribus.
      </p>
      <img src="/placeholder.jpg" alt="alt" />
    </li>
  </ul>
</section>
