---
import { Icon } from "astro-icon";
---

<div>
  <div
    class="rotate-3 translate-y-2/4 py-4 w-screen opacity-80 bg-green-300 flex items-center justify-center"
  >
    <ul class="flex flex-row gap-3 test-l overflow-hidden">
      <li>
        <Icon name="ethereum" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="polygon" class="h-20 w-20" />
      </li><li>
        <Icon name="polkadot" class="h-20 w-20" />
      </li><li>
        <Icon name="optimism" class="h-20 w-20" />
      </li><li>
        <Icon name="near" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="avalanche" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="solana" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="livepeer" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="arbitrum" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="ethereum" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="polygon" class="h-20 w-20" />
      </li><li>
        <Icon name="polkadot" class="h-20 w-20" />
      </li><li>
        <Icon name="optimism" class="h-20 w-20" />
      </li><li>
        <Icon name="near" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="avalanche" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="solana" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="livepeer" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="arbitrum" class="h-20 w-20" />
      </li>
    </ul>
  </div>
  <div
    class="-rotate-3 -translate-y-2/4 py-4 w-screen opacity-95 backdrop-blur-sm bg-green-300 flex items-center justify-center shadow-sm"
  >
    <ul class="flex flex-row gap-3 test-r overflow-hidden">
      <li>
        <Icon name="ethereum" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="polygon" class="h-20 w-20" />
      </li><li>
        <Icon name="polkadot" class="h-20 w-20" />
      </li><li>
        <Icon name="optimism" class="h-20 w-20" />
      </li><li>
        <Icon name="near" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="avalanche" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="solana" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="livepeer" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="arbitrum" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="ethereum" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="polygon" class="h-20 w-20" />
      </li><li>
        <Icon name="polkadot" class="h-20 w-20" />
      </li><li>
        <Icon name="optimism" class="h-20 w-20" />
      </li><li>
        <Icon name="near" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="avalanche" class="h-20 w-20" />
      </li>
      <li>
        <Icon name="solana" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="livepeer" class="h-20 w-20" />
      </li>

      <li>
        <Icon name="arbitrum" class="h-20 w-20" />
      </li>
    </ul>
  </div>
</div>

<style>
  @keyframes scroll-r {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes scroll-l {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .test-r li {
    animation: scroll-r 5s linear infinite;
  }

  .test-l li {
    animation: scroll-l 5s linear infinite;
  }
</style>
