---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Team from "../components/Team.astro";
import Footer from "../components/Footer.astro";
import { Projects } from "../components/Projects";
import { Tech } from "../components/Tech";
---

<Layout title="Public Goods Builders">
  <main
    class="flex flex-col bg-black text-white w-screen h-screen overflow-x-hidden"
  >
    <Navbar />
    <Hero />
    <Tech client:load />

    <Team />
    <Projects client:load />
    <Footer />
  </main>
</Layout>
