---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import { Icon } from "astro-icon";
import Hero from "../components/Hero.astro";
---

<Layout title="Public Goods Builders">
  <main
    class="flex flex-col bg-black text-white w-screen h-screen overflow-x-hidden"
  >
    <Navbar />
    <Hero />
  </main>
</Layout>
